body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#menu {
    background-color: rgb(7, 116, 7);
}
#page-footer{
    background-color: #000;
}
#button {
  background-color: #0a0;
}

.parallax-container {
  height: 900px;
}





/* @media screen and (max-width: 601px) {

.row .col.s4 {
  width: 58.3333%;
  margin-left: auto;
  left: auto;
  right: auto;
}


} */